# OpenWeather API
### 위도, 경도로부터 현재 날씨 구하기

In [3]:
import requests
from urllib.parse import urlparse
import pandas as pd

In [4]:
key_fd = open('openweatherkey.txt', mode='r')
oweather_key = key_fd.read(100)
key_fd.close()

In [5]:
lat = 37.5509655144007
lng = 126.849532173376
url = f'http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lng}&appid={oweather_key}&units=metric&lang=kr'

In [91]:
result = requests.get(urlparse(url).geturl()).json()
result

{'coord': {'lon': 126.85, 'lat': 37.55},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': '튼구름',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 3.06,
  'feels_like': -1.95,
  'temp_min': 2,
  'temp_max': 4,
  'pressure': 1019,
  'humidity': 74},
 'visibility': 10000,
 'wind': {'speed': 4.1, 'deg': 350},
 'clouds': {'all': 75},
 'dt': 1605843901,
 'sys': {'type': 1,
  'id': 8105,
  'country': 'KR',
  'sunrise': 1605824263,
  'sunset': 1605860344},
 'timezone': 32400,
 'id': 1838716,
 'name': 'Bucheon-si',
 'cod': 200}

In [92]:
main = result['weather'][0]['main']
desc = result['weather'][0]['description']
main, desc

('Clouds', '튼구름')

In [93]:
temp = round(result['main']['temp']-0.01,1)
temp_min = round(result['main']['temp_min']-0.01,1)
temp_max = round(result['main']['temp_max']-0.01,1)
pressure = result['main']['pressure']
humidity = result['main']['humidity']

In [94]:
temp,temp_min,temp_max

(3.1, 2.0, 4.0)

### address2.csv 파일 읽어서 날씨 정보 입력하기

In [95]:
df = pd.read_csv('address2.csv')
df

     건물명                      도로명 주소        lat         lng
0   강서구청     서울특별시 강서구 화곡로 302 (화곡동)  37.550966  126.849532
1   양천구청    서울특별시 양천구 목동동로 105 (신정동)  37.517075  126.866543
2   부천시청      경기도 부천시 길주로 210-2 (중동)  37.502277  126.765004
3  영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)  37.525963  126.896367
4   김포시청        경기도 김포시 사우중로 1 (사우동)  37.615190  126.715717

In [96]:
weather_list = []; desc_list = []; temp_list = []
for i in df.index:
    url = f'http://api.openweathermap.org/data/2.5/weather?lat={df.lat[i]}&lon={df.lng[i]}&appid={oweather_key}&units=metric&lang=kr'
    result = requests.get(urlparse(url).geturl()).json()
    main = result['weather'][0]['main']
    desc = result['weather'][0]['description']
    temp = round(result['main']['temp']-0.01,1)
    temp_min = round(result['main']['temp_min']-0.01,1)
    temp_max = round(result['main']['temp_max']-0.01,1)
    weather_list.append(main)
    desc_list.append(desc)
    temp_list.append(f'{temp}/{temp_min}/{temp_max}')

In [97]:
df['weather'] = weather_list
df['desc'] = desc_list
df['temp'] = temp_list
df

,건물명,도로명 주소,lat,lng,weather,desc,temp
0,강서구청,서울특별시 강서구 화곡로 302 (화곡동),37.550966,126.849532,Clouds,튼구름,3.1/2.0/4.0
1,양천구청,서울특별시 양천구 목동동로 105 (신정동),37.517075,126.866543,Clouds,튼구름,3.9/3.0/5.0
2,부천시청,경기도 부천시 길주로 210-2 (중동),37.502277,126.765004,Clouds,튼구름,3.0/2.0/4.0
3,영등포구청,서울특별시 영등포구 당산로 123 (당산동3가),37.525963,126.896367,Clouds,온흐림,3.9/3.0/5.0
4,김포시청,경기도 김포시 사우중로 1 (사우동),37.615190,126.715717,Clouds,튼구름,3.0/2.0/4.0

In [98]:
df.to_csv('address3.csv',sep=',',encoding='utf8',index=False)