In [1]:
import sqlite3
conn = sqlite3.connect('./test.db')

In [8]:
cur = conn.cursor()
cur.execute('create table if not exists Eagles\
                (back_no int not null,\
                name text,\
                position text,\
                primary key(back_no));')

In [12]:
cur = conn.cursor()
cur.execute("insert into Eagles values(1, '하주석','내야수');")
cur.execute("insert into Eagles values(57, '정우람','투수'),(8,'정근우','내야수');")

IntegrityError: UNIQUE constraint failed: Eagles.back_no

In [10]:
back_no = 50
name = '이성열'
position = '외야수'
cur = conn.cursor()
sql = 'insert into Eagles values (?,?,?);'
cur.execute(sql,(back_no, name, position))

In [13]:
players = [(22, '이태양', '투수'),(13, '최재훈','포수')]
cur = conn.cursor()
sql = 'insert into Eagles values(?,?,?);'
cur.executemany(sql,players)

In [14]:
cur = conn.cursor()
cur.execute('select * from Eagles')
for row in cur:
    print(row)

(1, '하주석', '내야수')
(57, '정우람', '투수')
(8, '정근우', '내야수')
(50, '이성열', '외야수')
(22, '이태양', '투수')
(13, '최재훈', '포수')

In [15]:
cur = conn.cursor()
cur.execute('create table if not exists Pitcher_stats\
                (ERA int not null,\
                IP int,\
                SO int,\
                primary key(ERA));')

In [16]:
conn.commit()

In [17]:
pitch = [(4.80, 54.33 , 53),(5.46, 56, 45)]
cur = conn.cursor()
sql = 'insert into Pitcher_stats values(?,?,?);'
cur.executemany(sql,pitch)

In [18]:
conn.commit()

In [19]:
cur.execute('alter table Pitcher_stats add column name text')

In [25]:
cur = conn.cursor()
cur.execute('select * from Pitcher_stats')
for row in cur:
    print(row)

(4.8, 54.33, 53, '정우람')
(5.46, 56, 45, '이태양')

### 연습문제 1

In [27]:

cur = conn.cursor()
sql = "select e.back_no as back_no,\
            e.name as name,\
            e.position as position,\
            p.ERA as ERA,\
            p.IP as IP,\
            p.SO as SO\
                from Eagles as e join Pitcher_stats as p\
                    on e.name = p.name"
cur.execute(sql)
for row in cur:
    print(row)

(57, '정우람', '투수', 4.8, 54.33, 53)
(22, '이태양', '투수', 5.46, 56, 45)

### 연습문제 2

In [34]:
cur = conn.cursor()
cur.execute('create table if not exists girl_group\
                (id integer primary key autoincrement,\
                group_name text,\
                member integer,\
                debut datetime,\
                agency text);')

In [35]:
cur = conn.cursor()
cur.execute('create table if not exists girl_song\
                (song_id integer primary key autoincrement,\
                song_name text,\
                group_id integer,\
                release datetime,\
                composer text,\
                lyric text);')

In [40]:
cur = conn.cursor()
groups = [(1,'오마이걸',7,'2015-04-21','WM엔터테인먼트'),
            (2,'아이즈원',12,'2018-10-29','스윙엔터테인먼트'),
            (3,'에이프릴',6,'2015-08-24','DSP미디어'),
            (4,'블랙핑크',4,'2016-08-08','YG엔터테인먼트'),
            (5,'트와이스',9,'2015-10-20','JYP엔터테인먼트')]
sql = 'insert into girl_group values (?,?,?,?,?)'
cur.executemany(sql,groups)

In [42]:
conn.commit()

In [44]:
cur = conn.cursor()
songs = [(1,'TT',5,'2016-10-23','블랙아이드필승','이러지도 못하는데 저러지도 못하네\
그저 바라보며 ba-ba-ba-baby'),
            (2,'Likey',5,'2017-10-30','블랙아이드필승','설렌다 Me Likey\
Me Likey Likey Likey Me Likey Likey Likey'),
            (3,'What is Love',5,'2018-04-09','JYP','매일같이 영화 속에서나 책 속에서나\
드라마 속에서 사랑을 느껴 Um- 사랑을 배워'),
            (4,'예쁜게 죄',3,'2018-10-16','타이비언','My mistake oh my mistake\
My mistake oh my mistake'),
            (5,'비밀정원',1,'2018-01-09','Steven Lee','나의 비밀정원\
난 아직도 긴 꿈을 꾸고 있어\
그 어떤 이에게도 말하지 못했던'),
     (6,'살짝 설렜어',1,'2020-04-27','Steven Lee','going nonstop\
말도 안 되잖아 그치 yayayaya\
우린 서로가 모르는 게 없는 사인 걸'),
     (7,'Dolphin',1,'2020-04-27','Ryan S. Jhun','oh my god 타이밍이 참 얄미워\
오늘 같은 날 마주쳐 이게 뭐야'),
     (8,'라비앙로즈',2,'2018-10-29','MosPick','빨갛게 물들여 지금 이 시간'),
     (9,'비올레타',2,'2019-04-01','최현준, 김승수','Ah ah\
눈 감아도 느껴지는 향기 Oh\
은은해서 빠져들어\
저 멀리 사라진 그 빛을 따라 난\
너에게 더 다가가 다가가 Ah ah'),
     (10,'휘파람',4,'2016-08-08','TEDDY','Make’ em whistle like a missile bomb bomb\
Every time I show up blow up (uh)\
Make’ em whistle like a missile bomb bomb\
Every time I show up blow up (uh)')]
sql = 'insert into girl_song values (?,?,?,?,?,?)'
cur.executemany(sql,songs)
conn.commit()

In [45]:
cur = conn.cursor()
sql = "select g.group_name as group_name,\
                g.member as member,\
                g.debut as debut,\
                s.song_name as song_name,\
                s.release as release from girl_group as g\
                join girl_song as s on g.id = s.group_id "
cur.execute(sql)
for row in cur:
    print(row)

('트와이스', 9, '2015-10-20', 'TT', '2016-10-23')
('트와이스', 9, '2015-10-20', 'Likey', '2017-10-30')
('트와이스', 9, '2015-10-20', 'What is Love', '2018-04-09')
('에이프릴', 6, '2015-08-24', '예쁜게 죄', '2018-10-16')
('오마이걸', 7, '2015-04-21', '비밀정원', '2018-01-09')
('오마이걸', 7, '2015-04-21', '살짝 설렜어', '2020-04-27')
('오마이걸', 7, '2015-04-21', 'Dolphin', '2020-04-27')
('아이즈원', 12, '2018-10-29', '라비앙로즈', '2018-10-29')
('아이즈원', 12, '2018-10-29', '비올레타', '2019-04-01')
('블랙핑크', 4, '2016-08-08', '휘파람', '2016-08-08')

### 연습문제 3

In [46]:
cur = conn.cursor()
cur.execute('create table if not exists Users\
                (name text primary key,\
                password integer);')

In [54]:
cur = conn.cursor()
groups = [('오마이걸',1234),
            ('아이즈원',1234),
            ('에이프릴',1234),
            ('트와이스',1234)]
sql = 'insert into Users values (?,?)'
cur.executemany(sql,groups)

In [66]:
cur = conn.cursor()
name, password = input('이름과 비밀번호를 입력해주세요> ').split()
sql = 'select count(*),name from Users where name = ? and password = ?'
cur.execute(sql,(name,password))
count = cur.fetchone()
if count[0] == 0:
    print('실패')
else: 
    print('성공')

실패

In [67]:
conn.commit()